[Unit]
Description=NOSYNC Backend Service
After=network.target postgresql.service redis.service
Requires=postgresql.service redis.service

[Service]
EnvironmentFile=/etc/envs/backend.env
WorkingDirectory=/home/deploy/releases/build
ExecStart=/usr/local/lib/nodejs/node-v22.13.1-linux-x64/bin/node /home/deploy/releases/build/bin/server.js
User=deploy
Group=deploy
LimitNOFILE=65536
Restart=on-failure
TimeoutSec=30
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
