[Unit]
Description=Meilisearch
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
EnvironmentFile=/etc/envs/meilisearch.env
ExecStart=meilisearch

[Install]
WantedBy=multi-user.target
