.nosync--main-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  z-index: 9999;
  opacity: 0;
  transition: opacity 75ms ease-out;
}

.nosync--main-overlay.open {
  opacity: 1;
}
